<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TAppCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TAppDecoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TAppEncoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TLibCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TLibDecoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TLibEncoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TLibVideoIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6767959311AD61BB00421804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676795F311AD621A00421804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6767961811AD626F00421804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6767964A11AD629200421804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6767966911AD635600421804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6782E0DD11AD691A00E8FFB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7104E1CC12005ABA00F42AA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
